<div fxLayout="row" fxFlex class="box-in-out" #container="cdkOverlayOrigin" cdkOverlayOrigin>
  <dl fxLayout="column" fxFlex="50%" class="box-in">
    <dt>Javascript(ES5)代码：</dt>
    <dd fxFlex>
      <textarea matInput [(ngModel)]="source"></textarea>
    </dd>
  </dl>
  <dl fxLayout="column" fxFlex="50%" class="box-out">
    <dt>Minify 结果：</dt>
    <dd fxFlex>
      <textarea matInput [(ngModel)]="output"></textarea>
    </dd>
  </dl>
</div>

<div class="ui-btn-bar">
  <button mat-flat-button (click)="parse()">Parse</button>
  <button mat-flat-button (click)="scopeAnalyzer()">Scope analyzer</button>
  <button mat-flat-button (click)="isOptionsOverlayOpen = !isOptionsOverlayOpen">Minify Options</button>
  <button mat-flat-button (click)="minify()">Minify</button>
  <a href="mailto:mxx@vip.qq.com" class="report-bug fa fa-envelope-o" title="For best tools, Email me"></a>
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayFlexibleDimensions]="true" [cdkConnectedOverlayOrigin]="container"
  cdkConnectedOverlayHasBackdrop [cdkConnectedOverlayOpen]="isOptionsOverlayOpen"
  (backdropClick)="closeOptionsOverlay()" [cdkConnectedOverlayMinWidth]="'100%'"
  [cdkConnectedOverlayPositions]="overlayPosition" [cdkConnectedOverlayPanelClass]="'options-panel'">
  <app-options [items]="items" [form]="form"></app-options>
</ng-template>
