:host {
  display: block;
  overflow: auto;
  // background: #fff;
  // padding: 10px;
  flex: 1;
  user-select: none;
}

.example-tree {
  background-color: transparent;
  cursor: default;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

ul {
  margin-left: 30px;
}

.mat-tree-node {
  /* text-overflow: ellipsis; */
  white-space: nowrap;
  min-height: 24px;
  font-weight: normal;
  font-size: 12px;
  /* display: block; */
  overflow: initial;
  display: flex;
}
.mat-tree-node span,
.leaf {
  text-indent: 6px;
}
.mat-tree-node span {
  flex: 1;
}

.mat-tree-node.selected {
  color: #ffffff;
  background-color: blue;
}
.mat-icon-rtl-mirror {
  width: 16px;
  height: 16px;
  font-size: 16px;
}
