<div class="left-part">
  <div class="left-part-head">
    <button class="select" (click)="selectDir()">选择目录</button>
    <input #ipt_dir type="text" class="text-field" [value]="folder" />
    <button class="open" (click)="setDir(ipt_dir.value)">打开</button>
  </div>
  <app-explorer #explorer [folder]="folder" (error)="explorerErrorHandler($event)"></app-explorer>
</div>
<div class="right-part">
  <div class="right-part-head">
    <button class="douban" (click)="doubanOperate()" [disabled]="!explorer.getSelected()">豆瓣查询</button>
  </div>
  <div class="right-part-body">
    <div *ngIf="operator === 'douban'" class="right-part-space">
      <div class="douban-search">
        <input class="keyword" #douban_keyword type="text" [value]="doubanSearchName" />
        <button class="open" (click)="searchDouban(douban_keyword.value, douban_keyword)">查询</button>
      </div>
      <div class="douban-result" *ngIf="doubanSearchResult">
        <div *ngIf="!doubanSearchResult.items.length; else elseBlock">
          {{doubanSearchResult | json}}</div>
        <ng-template #elseBlock>
          <div *ngFor="let item of doubanSearchResult.items" class="douban-item">
            <img [src]="item.cover_url" />
            <ul>
              <li>
                <a [href]="item.url" target="_blank">{{item.title}}</a>
                <button (click)="nameing(item)" [disabled]="!explorer.getSelected()">命名</button>
              </li>
              <li>{{item.rating | json}}</li>
              <li>{{item.abstract}}</li>
              <li>{{item.abstract_2}}</li>
            </ul>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
