:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-size: 12px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.9);
}

button {
  padding: 0 20px;
}

input[type="text"] {
  margin: 0 4px;
}

.left-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 4px;
  &-head {
    display: flex;
    flex-direction: row;
    height: 40px;
    line-height: 40px;
    padding: 4px 0;

    .select {
      // padding: 0 20px;
    }
    .text-field {
      flex: 1;
      margin: 0 4px;
    }
    .open {
      // padding: 0 20px;
    }
  }
  mat-tree {
    flex: 1;
    overflow: auto;
  }
}

.right-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  &-head {
    display: flex;
    flex-direction: row;
    height: 40px;
    line-height: 40px;
    padding: 4px 0;
    button {
      margin-right: 8px;
    }
  }
  &-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .right-part-space {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .douban-search {
        display: flex;
        flex-direction: row;
        height: 40px;
        line-height: 40px;
        padding: 4px 0;

        .keyword {
          flex: 1;
          margin-right: 4px;
          padding: 0 4px;
        }
        .open {
        }
      }
      .douban-result {
        flex: 1;
        overflow: auto;

        .douban-item {
          display: flex;
          flex-direction: row;
          margin: 0 0 20px 0;
          img {
            width: 50px;
          }
          ul {
            margin-left: 10px;
          }
        }

        .folder-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 6px 0;
          background: #cccccc;
          span {
            margin-left: 6px;
            line-height: 30px;
            flex: 1;
          }
          button {
            // width: 60px;
            height: 30px;
            line-height: 30px;
            margin-left: 10px;
            padding: 0 10px;
          }
        }
      }
    }
  }
}
