<header>
  <p>
    <span class="fa fa-search"></span>
    <input type="text" [(ngModel)]="keyword" (keydown.esc)="keyword = ''">
  </p>
</header>
<main routerLink="/">
  <ng-container *ngFor="let r of routes; trackBy: trackByPath">
    <a *ngIf="!r.data['electronRequired'] || es.isElectron" [routerLink]="r.path" target="_blank"
      (click)="openURL($event, r)" class="app-icon-box">
      <i [class]="r['data']['className']"></i>
      <span>{{r['data']['name']}}</span>
    </a>
  </ng-container>
</main>
<router-outlet></router-outlet>
