<nav>
  <ul class="host-env-box">
    <li *ngFor="let env of envs;">
      <span>{{env.name}}</span>
      <mat-slide-toggle [checked]="env.isActived" (change)="envChange(env,$event)"></mat-slide-toggle>
    </li>
  </ul>
  <div class="ui-btn-bar">
    <button mat-flat-button (click)="textMode ? saveHostsText() : switchTextMode()">{{textMode ? '保存' : '文本'}}</button>
    <button mat-flat-button (click)="reload()">刷新</button>
    <button mat-flat-button (click)="isHelpOverlayOpen = !isHelpOverlayOpen" class="button-help"
      #help="cdkOverlayOrigin" cdkOverlayOrigin>帮助</button>
  </div>
</nav>
<main>
  <table *ngIf="!textMode">
    <tr *ngFor="let rule of rules; trackBy rule?.id;">
      <td class="sharp" [class.actived]="rule.isActived" (click)="toggleRuleActive(rule)">#</td>
      <td class="ip">{{rule.address.correct}}
        <span class="fa" [class.fa-spinner]="rule.isAddrAliveChecking" [class.fa-thumbs-up]="!rule.isAddrAliveChecking"
          [class.invalid]="!rule.isAddrAlive"></span>
      </td>
      <td class="domain">{{rule.domain}}</td>
      <td class="env-name">{{rule.envName}}</td>
      <td class="validation">
        <span *ngIf="rule.isActived" class="fa" [class.fa-spinner]="rule.isRuleValidChecking"
          [class.fa-circle]="!rule.isRuleValidChecking" [class.invalid]="!rule.isRuleValid"></span>
      </td>
    </tr>
  </table>
  <textarea *ngIf="textMode" [(ngModel)]="hostsText"></textarea>
</main>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayFlexibleDimensions]="true" [cdkConnectedOverlayOrigin]="help"
  [cdkConnectedOverlayOpen]="isHelpOverlayOpen" (backdropClick)="closeHelpOverlay()"
  [cdkConnectedOverlayMinWidth]="'200px'" [cdkConnectedOverlayPositions]="overlayPosition"
  [cdkConnectedOverlayPanelClass]="'options-panel'" cdkConnectedOverlayHasBackdrop>
  <div class="box-help">
    <a href="mailto:mxx@vip.qq.com" class="report-bug fa fa-envelope-o" title="For best tools, Email me"></a>
  </div>
</ng-template>
