/* You can add global styles to this file, and also import other style files */
::selection {
  background: rgba(188, 218, 243, 0.8);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
}

body {
  background: center / cover no-repeat url(./assets/Sierra.jpg);
}
