/* You can add global styles to this file, and also import other style files */


/* Fix for warning with electron - see https://github.com/electron/electron/issues/4420 */

::selection {
  background: rgba(188, 218, 243, 0.8);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 12px;
}

body {
  background: center / cover no-repeat url(./assets/Sierra.jpg);

}

// .host-env-box .ui-inputswitch {
//   height: 12px;
// }

// .host-env-box .ui-inputswitch .ui-inputswitch-on {
//   background: rgba(74, 207, 74, 0.9);
// }

.ui-tooltip {
  max-width: 25em;
}

.jsoneditor-wrapper .jsoneditor-poweredBy {
  display: none;
}

.jsoneditor-wrapper .ace-jsoneditor.ace_editor {
  background-color: rgba(255, 255, 255, 0);
}

.jsoneditor-wrapper .ace-jsoneditor .ace_scroller {
  background-color: rgba(255, 255, 255, 0);
}

.jsoneditor-wrapper .ace-jsoneditor .ace_gutter {
  background: rgba(235, 235, 235, 0);
}
