:host {
    float: left;
    overflow: hidden;
  }

  dl {
    padding-left: 10px;
    float: left;
  }

  dt {
    font-weight: bold;
  }

  dd {
    line-height: 14px;
  }

  dd .ng-invalid {
    color: red;
  }

  dd dl {
    padding-left: 18px;
  }

  input {
    margin-right: 4px;
  }

  input[type="text"] {
    width: 80px;
  }

  input[type="number"] {
    width: 50px;
  }
